body{
	font-family: Lato;
}

hr{
	width: 75%;
}


.segment {
	padding-top: 20px;
	padding-left: 225px;
	font-size: 30px;
}

#education{
	background-color: whitesmoke;
}

#education img {
	border-radius: 20%;

	max-width: 85%;
	max-height: auto;
}

#education .col{
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 20px;
}



#education div li{
	font-size: 20px;
}


#experience img{
	max-width: 75%;
	max-height: auto;
}

#experience .col{
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 20px;

}



#front-end{
	background-color: whitesmoke;
	
}

#front-end .col{
	padding-bottom: 15px;
	padding-top: 20px;
}

#back-end{
	
	
}

#data-science{
	background-color: whitesmoke;
	
}

#introduction{
	text-align: center;
	color: #292f50;
}
#introduction h1{
	margin-top: 20px;

	font-weight: 700;
	font-size: 50px;
	color: #292f50;
}
#introduction p{
	color: #292f50;
	font-weight: 500;
	font-size: 30px;
}

#introduction a{
	color: #0084d5;
	font-size: 30px;
	font-weight: 700;
	margin: 5px;
}



.icons{
    width:40px;
    
}
address{
	font-size: 25px;
	font-weight: 700;
}

