body{
	font-family: Lato;
}

#project{
	width: 100%;
}

#calculator table{
	width: 200px;

}

#tictactoe table{
	width: 200px;
}

#introduction{
	text-align: center;
	color: #292f50;
}
#introduction h1{
	margin-top: 20px;

	font-weight: 700;
	font-size: 50px;
	color: #292f50;
}
#introduction p{
	color: #292f50;
	font-weight: 500;
	font-size: 30px;
}

#introduction a{
	color: #0084d5;
	font-size: 30px;
	font-weight: 700;
	margin: 5px;
}

.icons{
    width:40px;
    
}
address{
	font-size: 25px;
	font-weight: 700;
}
hr{
	width: 75%;
}
