body{
	font-family: Lato;
	background-color: white;
}

html{
	height: 100%
}


#content{
	text-align: center;
	padding-top: 10%;
	text-shadow: 0px 4px 3px             rgba(0,0,0,0.4)
				 0px 8px 13px            rgba(0,0,0,0.1)
				 0px 18px 23px			 rgba(0,0,0,0.1)
}

#email{
	font-weight: 700;
	font-size: 24px;
	color: #012233;
}
.accordion{
    text-align: center;
}
.color{
	color: #292f50;
}


.name{
	font-weight: 700;
	font-size: 4em;
	color: #292f50;
}

.link{
	font-weight: 700;
	font-size: 25px;
	color: #0084d5;
}
.icons{
    width:40px;
    
}