#tictactoe table{
    margin-left: auto;
    margin-right: auto;
}
#tictactoe td{
    border: 2px solid grey;
    width: 50px;
    height: 55px;

    color:#137091;
    text-align: center;
}
#tictactoe #button{
    text-align: center;
}
#tictactoe #winner{
    text-align: center;
    font-size: x-large;
    color: #137091
}
#tictactoe #indexTic02{
    border-top: none;
    border-right: none;
}
#tictactoe #indexTic12{
    border-top: none;
    border-right: none;
}
#tictactoe #indexTic22{
    border-top: none;
    border-right: none;
    border-bottom: none;
}
#tictactoe #indexTic00{
    border-top: none;
    border-left: none;
    border-right: none;
}
#tictactoe #indexTic10{
    border-top: none;
    border-left: none;
    border-right: none;
}
#tictactoe #indexTic20{
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
#tictactoe #indexTic01{
    border-top: none;
    border-right: none;
}
#tictactoe #indexTic11{
    border-top: none;
    border-right: none;
}
#tictactoe #indexTic21{
    border-top: none;
    border-right: none;
    border-bottom: none;
}
 
 
 