#tictactoe table{
    margin-left: auto;
    margin-right: auto;
}
#tictactoe td{
    border: 2px solid grey;
    width: 50px;
    height: 55px;

    color:#137091;
    text-align: center;
}
#tictactoe #button{
    text-align: center;
}
#tictactoe #winner{
    text-align: center;
    font-size: x-large;
    color: #137091
}
#tictactoe #index02{
    border-top: none;
    border-right: none;
}
#tictactoe #index12{
    border-top: none;
    border-right: none;
}
#tictactoe #index22{
    border-top: none;
    border-right: none;
    border-bottom: none;
}
#tictactoe #index00{
    border-top: none;
    border-left: none;
    border-right: none;
}
#tictactoe #index10{
    border-top: none;
    border-left: none;
    border-right: none;
}
#tictactoe #index20{
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
#tictactoe #index01{
    border-top: none;
    border-right: none;
}
#tictactoe #index11{
    border-top: none;
    border-right: none;
}
#tictactoe #index21{
    border-top: none;
    border-right: none;
    border-bottom: none;
}
 
 
 