#calculator{
    font-family: 'Montserrat', sans-serif;

}
#calculator table{
    
    width: 250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

    background-color: #b6b6b6;
    

}

#calculator button{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

#calculator td{
    text-align: center;
    border: 3px solid #b6b6b6;

}

#calculator td button{
    font-weight: bold

}


#calculator th{
    color: rgb(0, 0, 0);
    text-align: right;
    background-color: #137091;

    border: 3px solid #b6b6b6;
    border-radius: 15px;
}

#calculator #solution{
    font-size: 20px
}
